* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin-left: 16px;
  margin-right: 16px;
  max-width: 50%;
}

ul, li {
  margin: 0; padding: 0;
}


.flexparent {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.flexchild {
  flex: 1;
}

ul {
  list-style-position: inside;
  list-style-type: none;
  margin: 0px;
}

li {
  margin-top: 12px;
  flex: 1 0 100%;
  border: 1px solid #b3b3b3;
  border-radius: 4px 4px 4px 4px;
}

input {
  padding: 4px;
}

.add {
  color: white;
  border: 1px solid #54b840;
  background-color: #54b840;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  padding: 4px 20px 4px 20px;
}

.clear {
  background-color: rgb(255, 255, 255);
  color: rgb(167, 53, 53);
  border: 1px solid #d45252;
  border-radius: 4px;
  padding: 4px 20px 4px 20px;
  margin-top: 12px;
}

label {
  font-size: 12px;
  color: grey;
}

span {
  height: 0;
  font-size: 12px;
}

#deleteicon {
  width: 16px;
}
